html
  head
    title Font Feature Abettings
    link(href="main.css" rel="stylesheet")
  body
    .test.test-editable
      .js-test.js-editable(autocomplete="false" spellcheck="false")
        | The highly ffunctionality indifferent ft left Gastown 23
    .test.test-control
      .js-control
        | The highly ffunctionality indifferent ft left Gastown 23
    script(src="../font-feature-abettings.min.js")
    script(src="../vendor/editable.js")
    script.
      var el   = document.querySelector('.js-editable')
        , ctrl = document.querySelector('.js-control')
        , edit = editable(el)
        ;

      edit.enable();
      edit.on('state', function(e){
        e.preventDefault();
        console.log(e);
        ctrl.innerHTML = el.innerHTML
        fontFeatureAbettings(ctrl);
      });
