html
  head
    title Font Feature Abettings
    link(href="main.css" rel="stylesheet")
  body
    .test
      strong Font Feature Abettings
      .js-test.js-editable(autocomplete="false" spellcheck="false")
        | flHighly functionality indifferent ft left Gastown 23
    .test
      strong Control
      .js-control
        | flHighly functionality indifferent left Gastown 23
    //- script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="../font-feature-abettings.min.js")
    script(src="../vendor/editable.js")
    script.
      var el   = document.querySelector('.js-editable')
        , ctrl = document.querySelector('.js-control')
        , edit = editable(el)
        ;

      edit.enable();
      edit.on('state', function(e){
        e.preventDefault();
        console.log(e);
        ctrl.innerHTML = el.innerHTML
        fontFeatureAbettings(ctrl);
      });
