// Variables

$color-feat: #D9D9D9;
$color-liga: #F04423;
$color-dlig: #F28A35;
$color-swsh: #3ACAE0;
$color-calt: #91C03E;
$color-salt: #F2C647;
$color-titl: #ED6BA6;
$color-onum: #DBCC4C;
$color-lnum: #C0B49A;

@font-face {
  font-family: "Klinic Slab";
  font-weight: 400;
}

body {
  font-family: "Klinic Slab";
  max-width: 1000px;
  margin: 2em;
  font-size: 5rem; // Weird contenteditable + spans bug with ems in Chrome
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
     -moz-font-feature-settings: "liga" 1, "dlig" 1;
          font-feature-settings: "liga" 1, "dlig" 1;
}

[contenteditable] {
  // Normalize contenteditable on Firefox
  word-wrap: break-word;
  &:focus {
    outline: 0;
  }
}

.test {
  // Normalize like contenteditable
  word-wrap: break-word;
}

.is-liga {
  background: saturate(lighten($color-liga, 10%), 10%);
}

.is-dlig {
  background: saturate(lighten($color-dlig, 10%), 10%);
}

.is-swsh {
  background: saturate(lighten($color-swsh, 10%), 10%);
}

.is-salt {
  background: saturate(lighten($color-salt, 10%), 10%);
}

.is-calt {
  background: saturate(lighten($color-calt, 10%), 10%);
}

.is-titl {
  background: saturate(lighten($color-titl, 10%), 10%);
}

.is-lnum {
  background: saturate(lighten($color-lnum, 10%), 10%);
}

.is-onum {
  background: saturate(lighten($color-onum, 10%), 10%);
}
