html
  head
    title Font Feature Abettings
    link(href="main.css" rel="stylesheet")
  body
    .test
      strong Font Feature Abettings
      .js-test.js-editable(autocomplete="false" spellcheck="false")
        | The highly ffunctionality indifferent ft left Gastown 23
    .test
      strong Control
      .js-control
        | The highly ffunctionality indifferent ft left Gastown 23
    script(src="../vendor/findAndReplaceDOMText.js");
    script(src="bundle.js");
